@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

span,
a {
  display: inline-block;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

body {
  font-family: "Plumb";
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}

.container-2 {
  max-width: 1032px;
  margin-left: 125px;
}

.container-3 {
  max-width: 1280px;
  margin: 0 auto;
}

.header .header__container {
  display: flex;
  justify-content: space-between;
}
.header .header__container .header__menu-btn {
  width: 80px;
  height: 80px;
  background-color: #D60000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__container .header__order-btn {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-sec {
  position: relative;
  background-image: url("../img/index-bg.png");
  background-repeat: no-repeat;
  background-position: top -80px right 68px;
  margin-bottom: -53px;
}

.main-sec .main-col {
  position: relative;
  margin-top: -140px;
}

.main-sec .title h1 {
  font-weight: 900;
  font-size: 140px;
  line-height: 105.52%;
  letter-spacing: -20.4px;
  text-transform: uppercase;
  color: #D60000;
  margin-bottom: 115px;
  margin-left: 56px;
}

.main-sec .main-text {
  max-width: 113px;
  margin-left: 56px;
  margin-right: 35px;
  text-align: start;
  margin-top: 173px;
}

.main-sec .main-text p {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
}

.main-sec .main-btn {
  padding: 20px 0;
  background: #fff;
  position: absolute;
  right: -133px;
  bottom: 95px;
  z-index: 100;
}

.main-sec .main-btn a {
  width: 217px;
}

.main-sec .main-content {
  margin-top: -154px;
  margin-left: -100px;
  margin-right: -13px;
}

.main-content .meida-slide-img {
  display: none;
}

.main-sec .main-slide {
  position: relative;
  overflow: hidden;
}

.main-slide .swiper-slide img {
  width: 100%;
  height: 470px;
}

.main-slide .pagination-container {
  width: 100%;
}

.main-slide .swiper-pagination2 {
  position: absolute;
  right: 18px;
  bottom: 122px;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 46px;
  z-index: 2;
}

.main-slide .swiper-pagination2 .swiper-pagination-current {
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -0.13em;
  color: #D60000;
  width: 55px;
  text-align: center;
  position: relative;
}

.main-slide .swiper-pagination2 .swiper-pagination-current::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 65px;
  height: 4px;
  background: #D60000;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.main-slide .swiper-pagination2 .swiper-pagination-current::after {
  content: "";
  position: absolute;
  right: -35px;
  bottom: 2px;
  background: #000;
  width: 70px;
  height: 1px;
  transform: rotate(-72deg);
}

.main-slide .swiper-pagination2 .swiper-pagination-total {
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  opacity: 0.6;
  display: inline-block;
  margin-bottom: 10px;
  margin-left: 20px;
  position: relative;
}

.main-slide .swiper-pagination2 .swiper-pagination-total::after {
  content: "";
  display: block;
  width: 80px;
  height: 1px;
  opacity: 0.6;
  position: absolute;
  right: -9px;
  bottom: -9px;
  background: #000000;
}

.main-sec .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 128px;
  margin-left: 104px;
}

.main-sec .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: #000000;
  opacity: 0.5;
  margin: 0 15px;
  display: inline-block;
  padding: 5px;
  border: 1px solid #000;
  display: inline-block;
  position: relative;
}

.main-sec .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet::after {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  border: 1px solid #000;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s all ease;
}

.main-sec .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1 !important;
}

.main-sec .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  opacity: 1 !important;
}

.col-lg-4 {
  display: flex;
}

.main-word {
  color: #000;
  border: 5px solid #000;
  height: 487px;
  width: 142px;
  text-align: start;
  margin-top: -12px;
  display: flex;
  padding-top: 28px;
  padding-left: 21px;
}

.main-word__orab {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-right: 12px;
}

.main-word__orab > .nimadir14 {
  letter-spacing: -9px;
  margin-left: 6px;
}

.main-word__orab > span {
  font-family: "Druk Wide Cyr";
  writing-mode: vertical-rl;
  /* ustunga aylantiradi */
  text-orientation: upright;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 36px;
  line-height: 96%;
  text-align: center;
  text-transform: uppercase;
}

.main-word > span {
  font-family: "Druk Wide Cyr";
  writing-mode: vertical-rl;
  /* ustunga aylantiradi */
  text-orientation: upright;
  /* harflarni to‘g‘ri turadigan qiladi */
  text-align: start;
  font-weight: 900;
  font-size: 36px;
  line-height: 96%;
  text-align: center;
  text-transform: uppercase;
  text-align: start;
  letter-spacing: -9px;
}

.benefits-section {
  background: url(../../img/sircle-bc.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 85px;
  padding-bottom: 220px;
  margin-top: -123px;
}
.benefits-section .info-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}
.benefits-section .info-section__text-block .section-title {
  line-height: 105px;
  margin-bottom: 0 !important;
}
.benefits-section .info-section__list {
  display: flex;
  margin-top: -5px;
  margin-left: 3px;
  gap: 12px;
}
.benefits-section .info-section__list .info-section__list-item {
  font-weight: 900;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.benefits-section .info-section__image-block {
  padding: 41px 17px;
  border: 2px solid black;
  border-radius: 50px;
  margin-right: 13px;
  margin-top: 7px;
}
.nimadir3 {
  display: flex;
  align-items: center;
}
.nimadir3 .info-card__item {
  height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.nimadir3 .info-card__item .info-card__number {
  font-weight: 900;
  font-size: 100px;
  line-height: 85%;
  text-transform: uppercase;
  letter-spacing: -15px;
  margin-top: 31px;
  margin-bottom: 20px;
  margin-right: -20px;
}
.nimadir3 .info-card__item .info-card__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  margin-top: 5px;
  margin-left: -2px;
  letter-spacing: 0.4px;
}

.info-card__item--gallery .info-card__content {
  color: #D60000;
}

.info-card__item--gallery {
  position: relative;
  z-index: 1;
}

.border {
  position: absolute;
  top: -50px;
  right: -22px;
  z-index: -1;
  margin-right: -32px;
}

.japan-map {
  position: absolute;
  bottom: -314px;
  right: -170px;
  opacity: 1;
  z-index: -1;
  transform: rotate(360deg);
}

.index-advan-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 72px;
  width: 217px;
  margin-left: 489px;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

.index-advan-btn {
  padding: 20px 0;
  background: #fff;
}

.index-advan-btn a {
  width: 217px;
}

.red-btn {
  font-family: "Plumb-medium", sans-serif;
  background: #D60000;
  height: 50px;
  border: none;
  width: 298px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 79.4%;
  text-align: center;
  letter-spacing: 2.5px;
  word-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #D60000;
  transition: all 0.2s linear;
  padding-left: 32px;
}

.red-btn:hover {
  background: #fff;
  color: #D60000;
}

.make-meeting-sec .make-meeting .red-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 79.4%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.make-meeting-sec .make-meeting .red-btn:hover {
  color: #D60000;
}

.swiper-slide-prev {
  overflow: hidden;
}

.pc-slide-img {
  width: 1115px !important;
  height: 612px !important;
  margin-top: -73px;
}

.nimadir2 {
  margin-bottom: 22px;
}

.nimadir15 {
  margin-left: -7px;
}

.nimadir16 {
  margin-left: 110px;
}

.nimadir7 {
  margin-left: 183px;
  margin-bottom: -1px;
}

.nimadir17 {
  margin-top: -5px;
  margin-left: 111px !important;
}

.nimadir18 {
  max-width: 208px !important;
}

.nimadir19 {
  margin-left: 116px;
}

.nimadir20 {
  margin-left: 125px;
}

.nimadir21 {
  margin-left: 187px;
}

.nimadir22 {
  margin-left: 68px;
}

.nimadir23 {
  margin-left: 0;
}

.collapsied-equipment {
  padding: 90px 10px 55px 0;
  border-top: 1px solid #000;
  overflow: hidden;
}
.collapsied-equipment .second-title h2 {
  font-weight: 900;
  font-size: 70px;
  line-height: 71%;
  letter-spacing: -6.2px;
  text-transform: uppercase;
  color: #D60000;
  word-spacing: 7px;
}
.collapsied-equipment .second-title p {
  font-weight: 900;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.7em;
  text-transform: uppercase;
  word-spacing: 40px;
  margin-top: 10px;
  margin-left: 5px;
}
.collapsied-equipment .row {
  margin-right: -50px;
}
.collapsied-equipment .row .equipment-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  max-width: 235px;
  text-align: start;
  margin-top: 86px;
  margin-bottom: 28.48px;
  color: #000000;
  margin-left: 2px;
}

.equipment-img {
  position: relative;
}

.img-date {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 24.41px 13.91px;
  border: 3px solid #000000;
  border-radius: 50px;
  font-weight: 900;
  font-size: 14px;
  line-height: 79%;
  text-align: center;
  text-transform: uppercase;
}

.col-lg-9 {
  margin-top: 34.84px;
}
.col-lg-9 .equipment-slide .equipment-img {
  margin-bottom: 27px;
}
.col-lg-9 .equipment-block .equipment-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 360.24px;
  margin-bottom: 34.53px;
}
.col-lg-9 .equipment-block .title-in {
  display: flex;
  gap: 18px;
}
.col-lg-9 .equipment-block .title-in h5 {
  font-weight: 900;
  font-style: Black;
  font-size: 16px;
  line-height: 87%;
  text-transform: uppercase;
  max-width: 71px;
}
.col-lg-9 .equipment-block .title-in p {
  font-weight: 400;
  font-size: 15px;
  line-height: 101%;
  letter-spacing: -0.6px;
}
.col-lg-9 .equipment-block .equipment-btn {
  padding: 15px 32px;
  border: 1px solid #D60000;
  display: inline-block;
  cursor: pointer;
}
.col-lg-9 .equipment-block .equipment-btn .show-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 79%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000000;
  word-spacing: -1px;
}
.col-lg-9 .equipment-price {
  margin-top: -16px;
  letter-spacing: -0.5px;
  text-align: start;
}
.col-lg-9 .equipment-price span {
  font-weight: 400;
  font-size: 7px;
  line-height: 150%;
  text-align: right;
  letter-spacing: 2.4px;
  margin-left: 44px;
  margin-right: -10px;
  margin-bottom: 11px;
}
.col-lg-9 .equipment-price p {
  font-weight: 900;
  font-size: 24px;
  line-height: 2.4px;
  text-transform: uppercase;
  color: #D60000;
}

.swiper-buttons {
  display: flex;
  margin-top: 34px;
  cursor: pointer;
  margin-left: -1px;
}

.swiper-button-next3 {
  margin-left: -4px;
}

.container-3 {
  margin-left: 20px;
}

.collapsed-slide {
  position: relative;
  overflow: hidden;
}

.collapsed-slide .swiper-buttons {
  display: flex;
  align-items: center;
}

.collapsed-slide .swiper-buttons .swiper-button-prev3 {
  margin-right: 20px;
}

.useful-section {
  padding-top: 77.8px;
  border-top: 1px solid #000;
}
.useful-section .swiper-slide {
  width: 138.286px !important;
  margin-right: 42px !important;
}
.useful-section .col-lg-12 {
  position: relative;
  padding-bottom: 40px;
}
.useful-section .pagination-roab {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 700px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.useful-card .useful-card-header .useful-card-title {
  font-weight: 900;
  font-size: 70px;
  line-height: 71%;
  letter-spacing: -6.9px;
  text-transform: uppercase;
  color: #D60000;
}
.useful-card .orab-ruruvchi .useful-card-body .main-word,
.useful-card .orab-ruruvchi .useful-card-body .break-word {
  padding: 0;
}
.useful-card .orab-ruruvchi .useful-card-body .main-word {
  margin-top: 47px;
  width: 163px;
  height: 365px;
  padding-right: 32px;
  padding-bottom: 38px;
}
.useful-card .orab-ruruvchi .useful-card-body .main-word h3 {
  font-family: "Druk Wide Cyr";
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 900;
  font-size: 36px;
  line-height: 96%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -9px;
}
.useful-card .orab-ruruvchi .useful-card-body .break-rord__span {
  margin-right: 10px;
  text-align: start;
  margin-top: -70px;
  margin-left: 12px;
}
.useful-card .useful-card-body {
  display: flex;
  gap: 32.5px;
  position: relative;
}
.useful-card .useful-card-body .useful-card-subtitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 96%;
  text-align: center;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: start;
}
.useful-card .useful-card-body .main-word h3 {
  margin-top: 47.94px;
  height: fit-content;
  padding-bottom: 0.44px;
  padding-top: 28.06px;
  color: #D60000;
  width: 165px;
}
.useful-card .useful-card-body .iphone-img {
  position: absolute;
  bottom: -409px;
  right: 5px;
  z-index: 1;
}
.useful-card .useful-card-body .useful-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 157.25px;
  margin-bottom: 24.69px;
}

.orab-ruruvchi {
  display: flex;
  gap: 173px;
}

.useful-card-orab {
  margin-top: 45.94px;
}

.useful-card--stats {
  position: relative;
  z-index: 1;
  margin-top: -7px;
}
.useful-card--stats .useful-card-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 84%;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 267px;
}
.useful-card--stats .card--stats__orab .useful-card-text-orab {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  max-width: 234.06px;
}

.catalog-container {
  background-image: url(../../img/dirt-1.png);
  margin-top: 301px;
  position: relative;
  padding-bottom: 40px;
}
.catalog-container .prev {
  position: absolute;
  bottom: 0;
  left: -109px;
  margin-top: -43px;
}
.catalog-container .next {
  position: absolute;
  bottom: 0;
  right: -16px;
  margin-top: -43px;
}
.catalog-container .nimadir24 {
  padding-bottom: 70px;
  margin-inline: 30px;
}
.catalog-container .brand-swiper .swiper-slide-active {
  transition: all 0.2s linear;
  margin-left: 8px;
}
.catalog-container .catalog-header {
  margin-left: 660px;
  margin-bottom: 44px;
}
.catalog-container .catalog-header .catalog-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 84%;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  max-width: 394px;
  margin-bottom: 34px;
}
.catalog-container .catalog-header .catalog-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 486.68px;
  margin-left: 2px;
}

.bg-1 {
  position: absolute;
  top: -104px;
  left: 0;
  z-index: -2;
}

.card--stats__orab {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-left: 261px;
  margin-top: 27px;
}

.back-red__sircle {
  position: absolute;
  top: -160px;
  left: -105px;
  z-index: -1;
}

.cloud {
  position: absolute;
  top: -163px;
  left: 200px;
}

.laptop-1 {
  position: absolute;
  bottom: -136px;
  left: -131px;
}

.logo-slider-box {
  position: relative;
  width: 1280px;
  margin: auto;
  overflow: hidden;
}

.logo-track {
  display: flex;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.logo-item {
  min-width: 120px;
  margin: 0 20px;
  text-align: center;
}

.logo-item img {
  height: auto;
}

.logo-prev,
.logo-next {
  position: absolute;
  bottom: -30px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.logo-prev {
  left: 45%;
}

.logo-next {
  right: 45%;
}

.faq-swiper {
  margin-left: 32px;
}

.tracking-section .tracking-container {
  background-color: #D60000;
  padding: 22px 0 23px 126px;
  position: relative;
  display: flex;
  gap: 35px;
}
.tracking-section .tracking-container .tracking-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  max-width: 486.68px;
  color: #FFFFFF;
  margin-top: 7px;
}
.tracking-section .tracking-container .tracking-btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 79%;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  background-color: #D60000;
  border: 1px solid #FFFFFF;
  padding: 17.5px 58px 17.5px 61px;
  color: #FFFFFF;
  transition: all 0.2s linear;
}
.tracking-section .tracking-container .tracking-btn:hover {
  color: #D60000;
  background-color: #FFFFFF;
  border: black 1px solid;
}
.tracking-section .tracking-container .tracking-img {
  position: absolute;
  top: -122px;
  right: 10px;
}

.orders-section {
  padding-top: 94px;
}
.orders-section .orders-header .orders-title {
  font-weight: 900;
  font-size: 70px;
  line-height: 71%;
  letter-spacing: -6.5px;
  text-transform: uppercase;
  color: #D60000;
  word-spacing: 9px;
  margin-bottom: 10px;
}
.orders-section .orders-header .orders-subtitle {
  font-weight: 900;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 7.02px;
  text-transform: uppercase;
  color: #000000;
}
.orders-section .orders-content {
  margin-top: 37px;
  display: flex;
  gap: 50px;
  position: relative;
}
.orders-section .orders-content .orders-years {
  padding: 45.5px 37.5px;
  background-color: #D60000;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 36px;
  margin-left: 21px;
}
.orders-section .orders-content .orders-years span {
  font-weight: 900;
  font-size: 30px;
  line-height: 84%;
  letter-spacing: -1.5%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.orders-section .orders-content .orders-info {
  display: flex;
  flex-direction: column;
  gap: 75px;
}
.orders-section .orders-content .orders-info .orders-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 141px;
  color: #000000;
}
.orders-section .orders-content .orders-info .orab-turuvchi {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.orders-section .order-info__orab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: fit-content;
}
.orders-section .order-info__orab .dumaloq {
  width: 16px;
  height: 16px;
  background-color: #D60000;
  border-radius: 50px;
  margin-left: 21px;
}

.orders-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 33px;
}
.orders-gallery .orders-row {
  display: flex;
  gap: 10px;
}
.orders-gallery .orders-row .orders-img {
  width: 154px;
  height: 141px;
}
.orders-gallery .orders-row .orders-img img {
  width: 100%;
  height: 100%;
}

.orders-content .stats {
  padding: 58px 39px;
  border: 7px solid #000000;
  display: flex;
  flex-direction: column;
  width: 271.81px;
  height: 523.74px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: -1;
}
.orders-content .stats .stats-item .stats-number {
  font-weight: 900;
  font-size: 90px;
  line-height: 85%;
  letter-spacing: -12px;
  text-align: right;
  text-transform: uppercase;
  color: #D60000;
}
.orders-content .stats .stats-item .stats-label {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.39px;
  text-align: right;
  color: #D60000;
}
.orders-content .stats .stats-h21 {
  margin-top: -5px;
  margin-right: 34px;
}
.orders-content .stats .stats-span1 {
  margin-left: 34px;
}
.orders-content .stats .stats-h22 {
  margin-top: 44px;
  margin-right: 72px;
}
.orders-content .stats .stats-span2 {
  margin-left: 34px;
  margin-top: -3px;
}
.orders-content .stats .stats-h23 {
  margin-top: 44px;
  margin-right: 72px;
}
.orders-content .stats .stats-span3 {
  margin-left: 34px;
  margin-top: -3px;
}

.title.white {
  color: white;
  font-weight: 900;
  font-size: 70px;
  line-height: 71%;
  letter-spacing: -6.5px;
  text-transform: uppercase;
  margin-top: -24px;
}

.feedback-section {
  background: url("../img/info-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 0;
  margin-top: 163px;
  margin-bottom: 70px;
  height: 281px !important;
}

.feedback-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #D60000;
  mix-blend-mode: multiply;
}

.construction-info.feedback {
  color: #fff;
  font-weight: 400;
  width: 189px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  margin-top: 25px;
  margin-left: 4px;
}

.show-more-btn.useful {
  color: #fff !important;
}

.fish-img {
  position: absolute;
  top: 57px;
  left: -21px;
  z-index: -1;
}

.feedback-left {
  position: relative;
}

.nail-icon {
  position: absolute;
  top: 8px;
  left: 25px;
}

.feedback-card {
  position: relative;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #fff;
  height: 442px;
  width: 299px;
  margin-right: 30px;
}

.feedback-card-info {
  width: 269px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13.9px;
  line-height: 130%;
  padding-top: 68px;
  padding-left: 38px;
  word-spacing: 4px;
}

.username {
  width: 146px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  margin-left: -10px;
  margin-top: 3px;
}

.user-rate-box {
  margin-top: 33px;
  display: flex;
  align-items: center;
}
.user-rate-box .stars {
  margin-left: -10px;
}
.user-rate-box .boboy {
  margin-left: -3px;
}

.feedback-right {
  width: 100%;
  margin-top: 140px;
  margin-left: 3px;
  overflow: hidden;
}
.feedback-right .info-card__link-wrap {
  margin-left: 41px;
  margin-top: 5px;
}

.container-1140 {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 52px;
}

.swiper-slide {
  width: fit-content;
  overflow: hidden;
}

.product-swiper-navigation-box {
  display: flex;
  margin-top: 20px;
  gap: 17px;
}

.feedback-card.nimadir23 {
  margin-right: 0 !important;
}

.info-section__header {
  margin-bottom: 78px;
}
.info-section__header .info-section__title {
  font-weight: 900;
  font-size: 90px;
  letter-spacing: -8.5px;
  text-transform: uppercase;
  color: #D60000;
  margin-top: 3px;
  margin-left: -1px;
}

.info-section__nav {
  display: flex;
  gap: 35px;
}
.info-section__nav .info-section__nav-item {
  font-weight: bold;
  font-size: 15px;
  line-height: 180%;
  letter-spacing: 11px;
  text-transform: uppercase;
}

.info-section {
  background: url(../../img/sircle-bc.png);
  padding: 150px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.info-section .info-section__articles {
  display: flex;
  justify-content: space-between;
}
.info-section .info-section__articles .info-card__image {
  width: 376px;
  height: 248px;
  margin-bottom: 20px;
}
.info-section .info-section__articles .info-card__image img {
  width: 100%;
  height: 100%;
}
.info-section .info-card__content .info-card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #D60000;
  margin-bottom: 16px;
  max-width: 381px;
}
.info-section .info-card__content .info-card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  max-width: 361px;
  color: #000000;
  opacity: 70%;
  margin-bottom: 40px;
}
.info-section .info-card__content .auction-heading {
  max-width: 360px;
  margin-bottom: 40px;
}
.info-section .info-card__content .auction-description {
  margin-bottom: 22px;
  max-width: 335px;
}

.info-card__link-wrap {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.info-card__link-wrap .info-card__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #D60000;
}

.info-card__link-wrap svg {
  width: 15px;
  height: 15px;
}

.import-difference-card {
  background-image: url(../../img/product-img/cars-parking.png);
  background-size: cover;
  background-position: center;
  background-color: #D60000;
  background-blend-mode: multiply;
  position: relative;
  width: 380px;
  height: 486px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 24px;
  padding-right: 24px;
}
.import-difference-card .info-card__header .info-card__title {
  max-width: 250px;
  font-weight: 700;
  font-size: 28px;
  line-height: 109%;
  text-transform: uppercase;
  color: #fff;
}

.info-card__footer {
  display: flex;
  align-items: center;
  gap: 13px;
}
.info-card__footer .info-card__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #FFFFFF;
}
.info-card__footer .info-card__icon path {
  fill: #fff;
}

.section {
  padding-top: 50px;
  border-top: 1px solid #000;
}

.special-offers__swiper {
  transition: all 0.3s linear;
}

.special-offer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  position: absolute;
  left: 70px;
  bottom: 50px;
  z-index: 2;
}
.special-offer .special-offer__circle .special-offer__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 112.52%;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
  margin-top: 100px;
}
.special-offer .special-offer__circle .special-offer__desc {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.025em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.special-offer__content {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-offer__circle {
  color: #fff;
  padding: 50px 0;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.special-offer__link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.special-offer__footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.end-slide-content {
  max-width: 1000px;
  margin-left: auto;
  width: 100%;
}

.end-block {
  display: flex;
  align-items: center;
  position: relative;
}

.end-round {
  position: absolute;
  left: 90px;
  bottom: -100px;
  width: 600px;
  height: 600px;
  z-index: 2;
  mix-blend-mode: multiply;
}

.end-slide-content {
  max-width: 1000px;
  margin-left: auto;
  width: 100%;
}

.end-slide-content img {
  width: 100%;
}

.footer__main {
  background-color: #000000;
  padding: 31px 0 15px 0;
}

.footer-top {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.footer-top .red__line {
  width: 459px;
  height: 1px;
  background-color: #D60000;
}

.footer__logo {
  width: 188px;
  height: 80px;
  margin: 0 auto 0 auto;
}

.footer__logo img {
  width: 100%;
  height: 100%;
}

.footer__chap-qism {
  display: flex;
  gap: 40px;
}

.footer__left .footer__contacts li {
  display: flex;
  gap: 4px;
  align-items: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 174%;
  margin-bottom: 27px;
  color: #FFFFFF;
  max-width: 170px;
}
.footer__left .footer__contacts li img {
  width: 16px;
  height: 16px;
}

.footer__center .footer__phones li {
  font-weight: 400;
  font-size: 12px;
  line-height: 173%;
  display: flex;
  gap: 9px;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
}

.footer__orab-turuvchi {
  display: flex;
  justify-content: space-between;
}

.footer__sections {
  display: flex;
}
.footer__sections .footer__column h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 81%;
  text-transform: uppercase;
  color: #D60000;
  margin-bottom: 24px;
}
.footer__sections .footer__column li {
  font-weight: 400;
  font-size: 12px;
  line-height: 81%;
  margin-bottom: 15px;
  color: #FFFFFF;
  opacity: 0.7;
  cursor: pointer;
}
.footer__sections .footer__column.first {
  margin-right: 57px;
}
.footer__sections .footer__column.second {
  margin-right: 65px;
}
.footer__sections .footer__column.third {
  margin-right: 72px;
}

.h4 {
  margin-top: 35px;
  margin-bottom: 0 !important;
}

.footer__bottom {
  background-color: #D60000;
  padding: 6px 0 9px 0;
}
.footer__bottom .footer__bottom-orab {
  display: flex;
  justify-content: space-between;
}
.footer__bottom .footer__bottom-orab .footer__copy {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: #FFFFFF;
}
.footer__bottom .footer__bottom-orab .footer__copy a {
  color: white;
}
.footer__bottom .footer__bottom-orab .second__orab-turuvchi {
  display: flex;
  gap: 200px;
}

.nimadir1 {
  display: none;
  display: flex;
  align-items: center;
}

.nimadir4 {
  margin-top: 11px;
}

.profile,
.icon-wrapper,
.order-btn-wrapper,
.nimadir5,
.nimadir12 {
  display: none;
}

.nimadir8 {
  display: flex;
  gap: 20px;
}

.nimadir10 {
  color: #D60000;
}

.info-card__image,
.info-card__content {
  padding-inline: 10px;
}

.import-difference-card {
  width: 370px;
  margin-right: 10px;
}

.info-card__subtitle {
  display: inline-block;
  max-width: 158px;
  line-height: 1.4;
  word-wrap: break-word;
  white-space: normal;
}

@media (max-width: 725px) {
  .footer__main {
    padding: 18px 26px;
  }
  .footer-top {
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .footer-top .red__line {
    display: none;
  }
  .footer__chap-qism {
    flex-direction: column;
    gap: 12px;
  }
  .footer__left .footer__contacts li {
    margin-bottom: 0;
    max-width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;
  }
  .footer__center .footer__phones li {
    font-weight: 400;
    font-size: 12px;
    line-height: 173%;
    gap: 7px;
  }
  .footer__logo {
    margin: 0;
    width: 120px;
    height: 38px;
  }
  .footer__bottom {
    padding: 13px 91px 11px 91px;
  }
  .footer__bottom .footer__bottom-orab {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10.73px;
  }
  .footer__bottom .footer__bottom-orab .footer__copy {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .footer__bottom .footer__bottom-orab .second__orab-turuvchi {
    flex-direction: column;
    gap: 10.73px;
    align-items: center;
    justify-content: center;
  }
  .icon-wrapper {
    display: flex !important;
    gap: 6px;
    align-items: center;
  }
  .header .header__container .header__menu-btn {
    width: 40px;
    height: 40px;
  }
  .nimadir5 {
    display: block;
    width: 67px;
    height: 31px;
    margin-top: 7.78px;
  }
  .header .header__container {
    padding-right: 8.2px;
  }
  .header__container .header__menu-btn img {
    width: 12.49px;
    height: 12.49px;
  }
  .icon-wrapper__car-box {
    padding: 5.06px 7.18px 7.06px 7.18px;
    background-color: #D60000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .info-section {
    padding: 63px 0;
  }
  .info-section__header {
    padding: 10px;
  }
  .info-section__header .info-section__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 85% !important;
    letter-spacing: -3px;
    text-transform: uppercase;
    margin-top: 63px;
  }
  .benefits-section .info-section__list {
    gap: 8px;
  }
  .nimadir3 {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .info-card__item,
  .nimadir2 {
    display: flex;
  }
  .nimadir2 {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 13px 23px 13px;
    align-items: center;
  }
  .info-card__item {
    align-items: center;
    margin-bottom: 23px;
    gap: 25px;
    width: 100%;
    padding: 13px;
    padding-left: 17px;
  }
  .japan-map {
    display: none;
  }
  .order-btn-wrapper {
    display: block;
    background-color: #D60000;
    padding: 19.7px 66px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
  }
  .order-btn-wrapper .order-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 79%;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all 0.2s linear;
  }
  .order-btn-wrapper:hover .order-btn {
    color: #D60000;
  }
  .order-btn-wrapper:hover {
    background-color: white;
    border: #000 solid 1px;
  }
  .nimadir2 {
    justify-content: space-between;
    margin: 0;
    align-items: center;
  }
  .nimadir3 .info-card__item .info-card__number {
    margin: 0;
  }
  .info-card__link-wrap--gallery {
    margin-left: auto;
  }
  .info-card__item--gallery {
    padding: 13px;
    border: 3px solid #000;
    width: 100%;
  }
  .nimadir3 .info-card__item .info-card__number {
    font-weight: 900;
    font-size: 32px;
    line-height: 85%;
    letter-spacing: -5px;
    text-transform: uppercase;
  }
  .container-2 {
    padding: 8px;
    margin: 0;
  }
  .nimadir3 .info-card__item .info-card__subtitle {
    max-width: 155px;
    font-weight: 700;
    font-size: 14px;
    line-height: 90%;
  }
  .nimadir10 {
    display: flex;
    color: #D60000;
    gap: 35px;
  }
  .info-section__nav .info-section__nav-item {
    font-weight: 900;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .info-section__nav {
    gap: 4px;
    flex-direction: column;
  }
  .nimadir9 {
    display: none;
  }
  .benefits-section .info-section__list .info-section__list-item {
    font-weight: 900;
    font-size: 14px;
    line-height: 180%;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .benefits-section .info-section__image-block {
    padding: 17.64px 8.21px;
    border: 1px solid #000;
  }
  .benefits-section .info-section__image-block img {
    width: 22px;
    height: 35px;
  }
  .nimadir1,
  .profile,
  .nimadir12 {
    display: block !important;
  }
  .nimadir3 .info-card__item {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .info-card__content {
    padding: 0;
  }
  .footer__orab-turuvchi {
    padding: 0;
  }
  .section {
    padding-bottom: 45px;
  }
  .end-col {
    padding-left: 0;
    padding-right: 0;
  }
  .swiper-wrapper {
    position: unset;
  }
  .end-block {
    display: flex;
    align-items: center;
    position: relative;
  }
  .swiper-slide {
    overflow-x: hidden;
  }
  .swiper-slide .end-block .end-round {
    opacity: 1;
    width: 346px;
    height: 346px;
    left: -73px;
    bottom: 172px;
  }
  .special-offer__circle {
    margin-left: 5px;
    justify-content: unset;
    padding: 0;
  }
  .special-offer .special-offer__circle .special-offer__title {
    margin-top: 0;
    font-size: 18px;
    line-height: 112.52%;
    margin-bottom: 19px;
    width: 226px;
  }
  .special-offer .special-offer__circle .special-offer__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 113%;
    width: 231px;
  }
  .special-offer {
    top: 45px;
    bottom: auto;
    left: 7px;
    max-width: 230px;
  }
  .end-block .end-slide-content {
    margin-top: 270px;
  }
  /* Barcha nuqtalar dumaloq */
  .swiper-pagination {
    bottom: -6px !important;
    right: 0;
    display: block;
  }
  .special-offers__pagination .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background: red;
    opacity: 1;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  .special-offers__pagination .swiper-pagination-bullet-active {
    width: 20px;
    border-radius: 10px;
  }
  .main-sec {
    background-image: none;
  }
  .container .title {
    width: 350px;
  }
  .container .title h1 {
    font-weight: 900;
    font-size: 55px;
    line-height: 85%;
    letter-spacing: -9px;
    text-transform: uppercase;
    margin: 0;
    width: 100% !important;
  }
  .main-sec .main-word h3,
  .main-sec .main-btn a {
    display: none;
  }
  .footer__sections,
  .header__order-btn,
  .nimadir4,
  .index-advan-btn,
  .border,
  .nimadir13 {
    display: none !important;
  }
  .info-section__articles {
    overflow: auto;
    scrollbar-width: none;
  }
}

/*# sourceMappingURL=style.css.map */
