@font-face {
    font-family: 'Plumb';
    src: url('Plumb-Black.woff2') format('woff2'),
        url('Plumb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

