@font-face {
    font-family: 'Plumb';
    src: url('Plumb-Medium.woff2') format('woff2'),
        url('Plumb-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumb';
    src: url('Plumb-Black.woff2') format('woff2'),
        url('Plumb-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumb';
    src: url('Plumb-Regular.woff2') format('woff2'),
        url('Plumb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plumpfull';
    src: url('Plumpfull.woff2') format('woff2'),
        url('Plumpfull.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

