.benefits-section {
    background: url(../../img/sircle-bc.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 220px;
    // background-position: center -50px;
margin-top: -123px;
    .info-section__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 52px;
    }

    .info-section__text-block {
        .section-title {
            line-height: 105px;
            margin-bottom: 0 !important;
        }
    }

    .info-section__list {
        display: flex;
        margin-top: -5px;
        margin-left: 3px;
        gap: 12px;

        .info-section__list-item {
            font-weight: 900;
            font-size: 14px;
            line-height: 180%;
            letter-spacing: 10px;
            text-transform: uppercase;

        }
    }

    .info-section__image-block {
        padding: 41px 17px;
        border: 2px solid black;
        border-radius: 50px;
        margin-right: 13px;
        margin-top: 7px;

        .info-section__image {}
    }
}

.nimadir3 {
    display: flex;
    // justify-content: space-between;
    align-items: center;

    .info-card__item {
        height: 271px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        .info-card__number {
            font-weight: 900;
            font-size: 100px;
            line-height: 85%;
            text-transform: uppercase;
            letter-spacing: -15px;
            margin-top: 31px;
            margin-bottom: 20px;
            margin-right: -20px;
        }

        .info-card__subtitle {
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            margin-top: 5px;
            margin-left: -2px;
            letter-spacing: 0.4px;
        }
    }
}

.info-card__item--gallery {
    .info-card__content {
        color: #D60000;
    }
}

.info-card__item--gallery {
    position: relative;
    z-index: 1;
}

.border {
    position: absolute;
    top: -50px;
    right: -22px;
    z-index: -1;
    margin-right: -32px;

}

.japan-map {
    position: absolute;
    bottom: -314px;
    right: -170px;
    opacity: 1;
    z-index: -1;
    transform: rotate(360deg);
}

.index-advan-btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 72px;
    width: 217px;
    margin-left: 489px;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.index-advan-btn {
    padding: 20px 0;
    background: #fff;
}

.index-advan-btn a {
    width: 217px;
}

.red-btn {
    font-family: 'Plumb-medium', sans-serif;
    background: #D60000;
    height: 50px;
    border: none;
    width: 298px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 79.4%;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #D60000;
    transition: all .2s linear;
    padding-left: 32px;
}

.red-btn:hover {
    background: #fff;
    color: #D60000;
}

.make-meeting-sec .make-meeting .red-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 79.4%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.make-meeting-sec .make-meeting .red-btn:hover {
    color: #D60000;
}
.swiper-slide-prev{
    overflow: hidden;
}
.pc-slide-img {
    width: 1115px !important;
    height: 612px !important;
    margin-top: -73px;
}

.nimadir2 {
    margin-bottom: 22px;
}

.nimadir15 {
    margin-left: -7px;
}

.nimadir16 {
    margin-left: 110px;
}

.nimadir7 {
    margin-left: 183px;
    margin-bottom: -1px;
}

.nimadir17 {
    margin-top: -5px;
    margin-left: 111px !important;
}

.nimadir18 {
    max-width: 208px !important;
}

.nimadir19 {
    margin-left: 116px;
}

.nimadir20 {
    margin-left: 125px;
}

.nimadir21 {
    margin-left: 187px;
}

.nimadir22 {
    margin-left: 68px;
}
.nimadir23{
    margin-left: 0;
}