.collapsied-equipment {
    padding: 90px 0 36px 0;
    border-top: 1px solid #000;

    .second-title h2 {
        font-weight: 900;
        font-size: 70px;
        line-height: 71%;
        letter-spacing: -5.8px;
        text-transform: uppercase;
        color: #D60000;
    }

    .second-title p {
        font-weight: 900;
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 0.7em;
        text-transform: uppercase;
        word-spacing: 40px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .row {
        .equipment-text p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            max-width: 235px;
            text-align: start;
            margin-top: 87px;
            margin-bottom: 28.48px;
            color: #000000;
            margin-left: 2px;
        }
    }
}

.car-img {
    position: relative;
}

.img-date {
    position: absolute;
    top: 10px;
    left: 19px;
    padding: 24.41px 13.91px;
    border: 3px solid #000000;
    border-radius: 50px;
    font-weight: 900;
    font-size: 14px;
    line-height: 79%;
    text-align: center;
    text-transform: uppercase;

}

.col-lg-9 {
    margin-top: 34.84px;

    .equipment-slide {
        .equipment-img {
            margin-bottom: 19px;
        }


    }

    .equipment-block {
        .equipment-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 360.24px;
            margin-bottom: 42.53px;
        }

        .title-in {
            display: flex;
            gap: 21px;
        }

        .title-in h5 {
            font-weight: 900;
            font-style: Black;
            font-size: 16px;
            line-height: 87%;
            text-transform: uppercase;
            max-width: 65px;
        }

        .title-in p {
            font-weight: 400;
            font-size: 15px;
            line-height: 101%;
            letter-spacing: -1.1px;
        }

        .equipment-btn {
            padding: 15px 31px;
            border: 1px solid #D60000;
            display: inline-block;

            .show-more {
                font-weight: 700;
                font-size: 14px;
                line-height: 79%;
                text-align: center;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #000000;
                word-spacing: -1px;
            }
        }
    }

    .equipment-price span {
        font-weight: 400;
        font-size: 7px;
        line-height: 150%;
        letter-spacing: 35.5%;
        text-align: right;

    }

    .equipment-price p {
        font-weight: 900;
        font-size: 24px;
        line-height: 2.4px;
        text-align: right;
        text-transform: uppercase;
        color: #D60000;
        margin-top: -9px;
        letter-spacing: -0.5px;
    }
}

.swiper-buttons {
    display: flex;
    gap: 19.7px;
    margin-top: 48px;
    cursor: pointer;
}

.container-3 {
    margin-left: 20px;
}

.swiper-wrapperw {
    display: flex;
    margin-left: 8px;
    gap: 55px;
    overflow: hidden;
}