.collapsied-equipment {
    padding: 90px 10px 55px 0;
    border-top: 1px solid #000;
    overflow: hidden;
    .second-title h2 {
        font-weight: 900;
        font-size: 70px;
        line-height: 71%;
        letter-spacing: -6.2px;
        text-transform: uppercase;
        color: #D60000;
        word-spacing: 7px;
    }

    .second-title p {
        font-weight: 900;
        font-size: 14px;
        line-height: 180%;
        letter-spacing: 0.7em;
        text-transform: uppercase;
        word-spacing: 40px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .row {
        margin-right: -50px;

        .equipment-text p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            max-width: 235px;
            text-align: start;
            margin-top: 86px;
            margin-bottom: 28.48px;
            color: #000000;
            margin-left: 2px;
        }
    }
}

.equipment-img {
    position: relative;
}

.img-date {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 24.41px 13.91px;
    border: 3px solid #000000;
    border-radius: 50px;
    font-weight: 900;
    font-size: 14px;
    line-height: 79%;
    text-align: center;
    text-transform: uppercase;

}

.col-lg-9 {
    margin-top: 34.84px;

    .equipment-slide {
        .equipment-img {
            margin-bottom: 27px;
        }


    }

    .equipment-block {
        .equipment-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 360.24px;
            margin-bottom: 34.53px;
        }

        .title-in {
            display: flex;
            gap: 18px;
        }

        .title-in h5 {
            font-weight: 900;
            font-style: Black;
            font-size: 16px;
            line-height: 87%;
            text-transform: uppercase;
            max-width: 71px;
        }

        .title-in p {
            font-weight: 400;
            font-size: 15px;
            line-height: 101%;
            letter-spacing: -0.6px;
        }

        .equipment-btn {
            padding: 15px 32px;
            border: 1px solid #D60000;
            display: inline-block;
            cursor: pointer;

            .show-more {
                font-weight: 700;
                font-size: 14px;
                line-height: 79%;
                text-align: center;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #000000;
                word-spacing: -1px;
            }
        }
    }

    .equipment-price {
        margin-top: -16px;
        letter-spacing: -0.5px;
        text-align: start;
    }

    .equipment-price span {
        font-weight: 400;
        font-size: 7px;
        line-height: 150%;
        text-align: right;
        letter-spacing: 2.4px;
        margin-left: 44px;
        margin-right: -10px;
        margin-bottom: 11px;
    }

    .equipment-price p {
        font-weight: 900;
        font-size: 24px;
        line-height: 2.4px;
        text-transform: uppercase;
        color: #D60000;

    }
}

.swiper-buttons {
    display: flex;
    // gap: 19.7px;
    margin-top: 34px;
    cursor: pointer;
    margin-left: -1px;
}
.swiper-button-next3{
    margin-left: -4px;
}
.container-3 {
    margin-left: 20px;
}

.collapsed-slide {
    position: relative;
    overflow: hidden;
}

.collapsed-slide .swiper-buttons {
    display: flex;
    align-items: center;
}

.collapsed-slide .swiper-buttons .swiper-button-prev3 {
    margin-right: 20px;
}
.row{
    .col-lg-9{
        .swiper-slide{
            // width: 367.565px !important;
        }
    }
}