*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

span,
a {
    display: inline-block;
    text-decoration: none;
}

button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

body {
    font-family: 'Plumb';
    overflow-x: hidden;
    box-sizing: border-box;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

.container-2 {
    max-width: 1032px;
    margin-left: 125px;
}